<div>Chào {{name}},</div>
<div>
<div style='padding-top: 20;'>Đã nhận được yêu cầu thay
đổi mật khẩu của quý khách.</div>
<div style='padding-top: 20;'>Xin hãy bấm vào
<a
style='color: #099202;'
href='{{url}}'
target='_blank'
rel='notrack'
>đây</a>
để đổi mật khẩu.</div>
<div style='padding-top: 20;'>&nbsp;</div>
<div style='padding-top: 20;'><strong>Lưu ý</strong>: đường dẫn
chỉ có hiệu lực trong vòng 30 phút.</div>
<p>Trân trọng</p>